.product-details-container {
  padding: 3rem 1rem;
  width: full;
  background-color: #F6F8FA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-details-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}